/*
Thank you http://colorschemedesigner.com/
*/

#forkme_banner {
  display: block;
  position: absolute;
  top:0;
  left: 10px;
  z-index: 10;
  padding: 10px 50px 10px 10px;
  color: #fff;
  background: url('../blacktocat.png') #0090ff no-repeat 95% 50%;
  font-weight: 700;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-decoration: none;
}

#forkme_banner:hover, #forkme_banner:focus {
    text-decoration: underline;
}

body {
    background-color: #0C5AA6;
    color: #373737;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
}


/*******************************************************************************
  header
*******************************************************************************/

header {
    background-color: #0C5AA6;
    color: #679ED2;
    /*affects left, right computations*/
    text-align: center;
    /*create coordonate space for children*/
    position: relative;
    max-width: 900px;
    margin: auto;
    margin-bottom: 40px;
}

.cloud {
    position: relative;
    left: 35%;
}

@media (min-width: 600px) {
 .line-1 {
     left: 7%;
 }

 .line-2 {
    left: -7%;     
 }
}

.line-1 {
    position: relative;
    padding-left: 200px;
}

.line-2 {
    position: relative;
    padding-right: 150px;

}

.terminal {
    position: relative;
    left: 6%;

    left: -37%;
}

.terminal {
    font-size: 4em;
} 

.fa-paper-plane {
    font-size: 5em;
    text-shadow: 0.021em 0.01em 0.3em #0a4075;
}

.logo-title {
    font-family: Helvetica, Arial, Sans-Serif;
    font-size: 170%;
    padding-top: 0.2em;
    text-shadow: 0.02em 0.01em 0.3em #0a4075;
}

.slogan {
    font-size: 150%;
    font-family: Helvetica, Arial, Sans-Serif;
    font-weight: bold;
    color: #408AD2;
    text-shadow: 0.05em 0.05em 0.3em #0a4075;
}

.grid-3 {
    /*box-sizing: border-box;*/
    display: table;
}

.cell-3 {
    /*box-sizing: border-box;
    display: block;*/
    width: 33%;
    vertical-align: middle;
    display: table-cell;
}

/******************************************************************************
    Content
******************************************************************************/

article {
    text-align: left;
    background-color: #408AD2;
    padding: 0px 50px;
    padding-bottom: 75px;
    max-width: 900px;
    margin: auto;
    font-size: 25px;
}

article h1 {
    font-size: 1.6em;
    text-align: center;
    font-weight: 700;
    padding-top: 2.5em;
    padding-bottom: 0.75em;
    color: #0C5AA6;
}

article a {
    color: #0C5AA6;
    font-size: 1.4em;
}

.interact-image {
    display: inline-block;

    box-shadow: 0px 0px 15px #244f8c;

}

.interact-image img {
    display: block;
}

.ipod {
    margin-left: 40px;
}


/******************************************************************************
Footer
******************************************************************************/
footer {
    text-align: left;
    color: #408AD2;
    padding-top: 50px;
    margin-bottom: 50px;

    max-width: 900px;
    margin: auto;
}
