.cursor {
    background-color: #aaa;
    color: #000;
}

.fragment {
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
}

.notconnected, .connected {
    font-family: FreeMono, monospace;
    color: #aaa;
    background-color: #000;
    font-size: 12px;
    line-height: 14px;
}